.App {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(9, 1fr);
	grid-gap: 5px;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	background-color: var(--l-primary-color);
}

select ,
select option {
	border: 2px solid var(--d-primary-color);
	outline: none;
	background-color: var(--ll-primary-color);
	-webkit-appearance: none;
	margin: 0;
	border-radius: 0;
}

select {
	position: relative;
	display: inline-block;
}

select select:focus ,
select select:hover{
	background-color: var(--primary-color);
}
select option {
	width: 100%;
}
select option:checked {
	background-color: var(--primary-color);
}