.App {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(9, 1fr);
	grid-gap: 5px;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	background-color: var(--l-primary-color);
}

.App > div {
	/* border-color: var(--l-primary-color);
	border-style: solid;  */
}