
.Display {
	grid-column: 2 / 6;
	grid-row: 2 / 10;
	background-color: var(--background-color);
	/* border-left: 5px solid;	
	border-top: 5px solid; */

	padding: 5px;
}

.Canvas {
	/* border-radius: 7px; */
	background-color: var(--contrast-color);
	width: 100vw;
	height: 100vh;
}