
.Header {
	grid-column: 1 / 6;
	grid-row: 1;
	background-color: var(--background-color);
	/* border-bottom: 5px solid ; */
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.mainLogo {
	max-height: 50px;
}

.credits {
	color: var(--l-contrast-color);
}