
.Header {
	grid-column: 1 / 6;
	grid-row: 1;
	background-color: var(--background-color);
	/* border-bottom: 5px solid ; */
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.rightSideHeader, .leftSideHeader {
	display: flex;
	align-items: center;
}

.mainLogo {
	max-height: 50px;
}

.translationLabel {
	font-size: 1rem;
	line-height: 2rem;
	display: block;
}

.translations {
	margin-left: 20px;
}

#translation ,
#translation option {
	font-size: 1rem;
	height: 30px;
}
#translation option {
	width: 90%;
}
.translations::before {
	color: var(--l-primary-color);;
	font-size: 30px;
	cursor: pointer;
	margin-left: 12px;
}

#translation {
	display: block;
	margin: auto;
	width: 200px;
}

.translations:hover {
	filter: brightness(104%);
}

.credits {
	color: var(--l-contrast-color);
	margin-left: 10px;
}