.ObjectsBox {
	display: flex;
	flex-flow: column;
	justify-content: left;
	height: 100%;
}

.objectActions > i {
	margin: 0 5px;
	cursor: pointer;
}

.coordinatesInputs > label {
	margin-right: 6px;
}
.coordinatesInputs > input {
	margin-right: 12px;
}