
.ToolBox {
	grid-column: 1;
	grid-row: 2 / 10;
	background-color: var(--background-color);

	display: flex;
	flex-flow: column;
}

.Materials, .Objects {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 70%;
}

.Material, .Object {
	padding: 10px;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

/* .ToolBox > div:last-child > div:last-child {
	border-top: #33333352 solid 1px;
} */

.ToolBox > div:last-child > button {
	border: none;
	background-color: var(--ll-primary-color);
	margin-top: auto;
	padding: 1em;
	cursor: pointer;
	margin: auto 10px 10px 10px;
	border-bottom: var(--llll-primary-color) solid 4px;
}

.editonForm {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 1fr auto;
	grid-gap: 5px;
}
