.App {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	grid-auto-rows: minmax(100px, auto);
	width: 100vw;
	height: 100vh;
}

.App > div {
	border-color: var(--l-primary-color);
}