:root {
  --ddd-primary-color:#77562d;
  --dd-primary-color: #916733;
  --d-primary-color: #de8922;
  --primary-color: #E28A20;
  --l-primary-color: #eca651;
  --ll-primary-color: #f1bd7e;
  --lll-primary-color: #f2cb9b;
  --llll-primary-color: #f4ddc1;
  --secondary-color: #C5D8D1;
  --background-color: #F4EDEA;
  --contrast-color: #1E152A;
  --l-contrast-color: #625474;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--contrast-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
